<script>
  import { halfsize, font3, size } from '../store/stores';
  import { onMount } from 'svelte';

  let credits;

  onMount(async () => {
    const res = await fetch('https://api.ificouldgettoyou.com/credits');
    const data = res.json();
    credits = data;
  });
</script>

{#if credits}
  {#await credits}
    <p>...</p>
  {:then credits}
    <div
      tabindex="0"
      class="text-block p-6 h-full sm:p-0 sm:w-2/3 flex justify-evenly mx-auto overflow-scroll"
    >
      <div class="text-paragraph py-6">
        <div
          class="description-text flex justify-evenly mx-auto h-full"
          style="font-size: {$size + 'px'}; line-height: {$size +
            $halfsize +
            'px'}; font-family: {$font3}"
        >
          <p class="py-6 ck-content">
            {@html credits.content}
          </p>
        </div>
      </div>
    </div>
  {/await}
{/if}

<style>
  .text-block {
    scroll-snap-align: center;
  }
  div:focus {
    outline: 0;
  }
  div:focus-visible {
    border: 2px dotted #ec7435;
  }
</style>
