<script>
  import Labels from './Labels.svelte';
  import {
    size,
    halfsize,
    activeTab,
    font2,
    font3,
    cache,
    globalColour,
    getData,
    playerKind,
  } from '../store/stores';
  import { fade } from 'svelte/transition';
  import { onMount } from 'svelte';
  import Playlist from './Playlist.svelte';
  import Credits from './Credits.svelte';

  let data;
  let endSection = false;
  let numberIndicator = 1;
  let playlist;

  function scrollIndicator(a) {
    const tBlock = document.getElementById('t-block');
    const sInd = document.getElementById('scroll-ind');
    const sCont = document.getElementById('scroll-cont');
    sCont.style.top = `${tBlock.offsetTop + 2}px`;
    sCont.style.left = `${tBlock.offsetLeft + 2}px`;
    sCont.style.maxHeight = `${tBlock.clientHeight}px`;
    tBlock.addEventListener('scroll', () => {
      const position =
        (tBlock.scrollTop * 100) /
        /* tBlock.scrollTopMax */ (tBlock.scrollHeight - tBlock.clientHeight);
      sInd.style.height = `${position}%`;
      const filterData = data.filter((tab) => tab.title === $activeTab);
      /*   if ($activeTab === 'about') {
        const length = filterData[0].paragraph.length + 1;
      } */
      const length = filterData[0].paragraph.length + 1;
      const stops = 100 / length;
      for (let i = 0; i < length + 1; i++) {
        if (position < stops) {
          numberIndicator = 1;
        } else if (position > stops * (i - 1) && position < stops * i) {
          numberIndicator = i;
        }
        sCont.style.maxHeight = `${tBlock.clientHeight}px`;
      }
    });
    sCont.addEventListener('click', (e) => {
      sInd.style.transition = 'all 0.3s linear';
      const clickLocation = e.layerY;
      const calculate = (clickLocation * 100) / sCont.clientHeight;
      const calc2 = ((calculate - 10) * tBlock.scrollHeight) / 100;
      tBlock.scrollTop = calc2;
    });
    window.addEventListener('resize', () => {
      sCont.style.left = `${tBlock.offsetLeft + 2}px`;
    });
  }

  onMount(async () => {
    if (window.innerWidth < 700) {
      $size = 12;
      $halfsize = 6;
    } else if (window.innerWidth >= 701) {
      $size = 16;
      $halfsize = 8;
    }
    let opacity;
    let hg;
    const tBlock = document.getElementById('t-block');
    window.addEventListener('scroll', () => {
      const currentScroll = window.pageYOffset;
      if (currentScroll <= window.innerHeight) {
        opacity = 0 + currentScroll / window.innerHeight;
        hg = currentScroll * 0.8 + 'px';
      } else {
        opacity = 1;
        hg = '80%';
      }
      tBlock.style.opacity = `${opacity}`;
      tBlock.style.height = hg;
    });
    data = await cache.get('https://api.ificouldgettoyou.com/tabs');
    getData('https://api.ificouldgettoyou.com/musics');
  });
</script>

<div
  class="description-block text-xs font-a-regular md:text-base h-screen w-screen absolute bg-white flex"
>
  {#if data}
    {#await data}
      <p />
    {:then data}
      <div
        class="scroll-container flex flex-col justify-start z-50"
        id="scroll-cont"
      >
        {#if $activeTab === 'About'}
          <div
            use:scrollIndicator
            class="scroll-indicator flex flex-col justify-end"
            id="scroll-ind"
            style="background-color: #ec7435;"
          />
          <p
            id="scroll-icon"
            style="background-color: rgba(236, 117, 53, 0.3); font-size: {$size +
              'px'}; line-height: {$size +
              $halfsize +
              'px'}; font-family: {$font3}"
            class:rotate={endSection}
            class=" scroll-icon w-4 h-4 sticky top-0 flex justify-center items-center text-xl text-white"
            alt=""
          >
            {numberIndicator}
          </p>
        {/if}
      </div>
    {/await}
  {/if}
  <div
    class="text-container my-12 overflow-scroll w-4/5 mx-auto "
    style="border: 2px solid {$globalColour}"
    id="t-block"
  >
    {#if $activeTab !== 'playlist'}
      {#if data}
        {#await data}
          <p>...</p>
        {:then data}
          {#each data as tab (tab.id)}
            {#if tab.title === $activeTab}
              {#each tab.paragraph as paragraph (paragraph.id)}
                <div
                  tabindex="0"
                  class="text-block p-6 h-full sm:p-0 w-11/12 sm:w-2/3 md:text-base flex justify-evenly mx-auto overflow-scroll md:py-6"
                  in:fade
                >
                  <div class="text-paragraph py-6 relative">
                    {#if paragraph.subtitle !== null}
                      <h1
                        class="text-subtitle font-hk-grotesk-regular capitalize"
                        style="font-size: {$size * 1.6 +
                          'px'}; line-height: {$size +
                          $halfsize +
                          'px'}; font-family: {$font2}; text-decoration: underline; text-decoration-thickness: 2px; text-decoration-color: {$globalColour}"
                      >
                        {paragraph.subtitle}
                      </h1>
                    {/if}
                    <div
                      style="font-size: {$size + 'px'}; line-height: {$size +
                        $halfsize +
                        'px'}"
                      class="description-text md:text-base flex justify-evenly mx-auto h-full md:w-11/12"
                    >
                      <p
                        class="py-6 ck-content"
                        style="font-size: {$size + 'px'}; line-height: {$size +
                          $halfsize +
                          'px'}; font-family: {$font3}"
                      >
                        {@html paragraph.content}
                      </p>
                    </div>
                  </div>
                </div>
              {/each}
            {/if}
          {/each}
        {/await}
      {/if}
      {#if $activeTab === 'About'}
        <Credits />
      {/if}
    {:else if $activeTab === 'playlist'}
      <Playlist />
      <div class="select-player flex w-full justify-evenly">
        <p
          class="bg-yellow-100 px-6 py-2 shadow-md rounded"
          on:click={() => {
            $playerKind = 'player';
          }}
        >
          player
        </p>
        <p
          class="bg-yellow-100 px-6 py-2 shadow-md rounded"
          on:click={() => {
            $playerKind = 'iframe';
          }}
        >
          iframe
        </p>
      </div>
    {/if}
  </div>
  <Labels />
</div>

<style>
  div:focus {
    outline: 0;
  }
  div:focus-visible {
    border: 2px dotted #ec7435;
  }

  .description-block {
    position: relative;
  }
  .scroll-container {
    height: 100%;
    width: 16px;
    position: relative;
  }
  .scroll-indicator {
    filter: opacity(0.3);
    height: 0%;
    width: 16px;
    border-bottom: 4px solid #ec7435;
  }
  /*  .scroll-icon {
    transition: all 0.3s ease-in-out;
  } */
  .text-container {
    position: relative;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
  }
  .text-block {
    scroll-snap-align: center;
  }
  #t-block {
    height: 80%;
  }
  .rotate {
    transform: rotate(180deg);
  }
  /*  .text-subtitle {
    text-decoration: underline;
    text-decoration-color: rgba(253, 230, 138, var(--tw-border-opacity));
  } */
</style>
