<script>
  import {
    font,
    font2,
    font3,
    fontEditor,
    globalColour,
  } from '../store/stores';
  import { onMount } from 'svelte';
  let fontArray = [];

  const fontSelection = () => {
    console.log($font);
  };
  onMount(() => {
    async function fetchFonts() {
      const res = await fetch('https://api.arturoguzmanperez.com/fonts');
      if (res.ok) {
        try {
          const data = await res.json();
          const newFonts = document.createElement('style');
          for (let i = 0; i < data.length; i++) {
            newFonts.appendChild(
              document.createTextNode(
                `@font-face {font-family: '${data[i].fontName}'; src: url(https://api.arturoguzmanperez.com${data[i].font.url});}`
              )
            );
            document.head.appendChild(newFonts);
          }
          fontArray = data;
        } catch (err) {
          console.log(err);
        }
      }
    }
    fetchFonts();
  });
</script>

<div
  class="change-font-select absolute hidden md:flex top-2 text-sm sm:top-4 text-gray-600"
  id="change-font-block"
>
  {#if $fontEditor === false}
    <div
      class="bg-gray-100 rounded px-2 opacity-30 h-4 flex justify-center items-center"
      on:click={() => {
        $fontEditor = true;
      }}
    >
      open
    </div>
  {:else if $fontEditor}
    {#await fontArray}
      <p>...</p>
    {:then fontArray}
      <div
        class="bg-gray-100 rounded px-2 h-4 flex justify-center items-center"
        on:click={() => {
          $fontEditor = false;
        }}
      >
        close
      </div>
      <label for="input-font1">Labels font</label>
      <select
        id="input-font1"
        class="input bg-gray-100 rounded w-20 h-4"
        bind:value={$font}
        on:change={() => {
          fontSelection();
        }}
      >
        {#each fontArray as font (font.id)}
          <option value={font.fontName}>{font.fontName}</option>
        {/each}
      </select>
      <label for="input-font2">Subtitle font</label>
      <select
        id="input-font2"
        class="input bg-gray-100 rounded w-20 h-4"
        bind:value={$font2}
        on:change={() => {
          fontSelection();
        }}
      >
        {#each fontArray as font (font.id)}
          <option value={font.fontName}>{font.fontName}</option>
        {/each}
      </select>
      <label for="input-font3">Body font</label>
      <select
        id="input-font3"
        class="input bg-gray-100 rounded w-20 h-4"
        bind:value={$font3}
        on:change={() => {
          fontSelection();
        }}
      >
        {#each fontArray as font (font.id)}
          <option value={font.fontName}>{font.fontName}</option>
        {/each}
      </select>
      <label for="colour">Global Colour</label>
      <input
        type="color"
        name="colour"
        id="colour"
        bind:value={$globalColour}
      />
      <p class="mx-4">Colour: {$globalColour}</p>
    {/await}
  {/if}
</div>

<style>
  #change-font-block {
    left: 15%;
  }
  label {
    padding: 0 1rem;
  }
</style>
