<script>
  import Playlist from '../assets/icons/playlist.svg';
  import {
    size,
    halfsize,
    activeTab,
    font,
    cache,
    globalColour,
  } from '../store/stores';
  import { fade } from 'svelte/transition';
  import { subscribe } from 'svelte/internal';
  import { onMount } from 'svelte';
  import Text from '../assets/icons/text.svg';
  import Zoomin from '../assets/icons/zoomin.svg';
  import Zoomout from '../assets/icons/zoomout.svg';

  let data;
  const fontSize = (data) => {
    if (data === 'minus') {
      $size = $size - 2;
      $halfsize = $size / 2;
    } else if (data === 'plus') {
      $size = $size + 2;
      $halfsize = $size / 2;
    }
  };

  function handleClick(data) {
    $activeTab = data;
  }

  onMount(async () => {
    if (window.innerWidth < 700) {
      $size = 12;
      document.getElementById('p-block').style.left = `calc(100% - 2rem)`;
    } else if (window.innerWidth >= 701) {
      $size = 16;
      document.getElementById('p-block').style.left = `calc(100% - 2.4rem)`;
    }
    const checkpoint = window.innerHeight;
    let opacity;
    window.addEventListener('scroll', () => {
      const currentScroll = window.pageYOffset;
      if (currentScroll <= checkpoint) {
        opacity = 0 + currentScroll / checkpoint;
      } else {
        opacity = 1;
      }
      document.getElementById('tabs-id').style.opacity = `${opacity}`;
      document.getElementById('text-resize').style.opacity = `${opacity}`;
      document.getElementById('p-block').style.opacity = `${opacity}`;
    });
    data = await cache.get('https://api.ificouldgettoyou.com/tabs');
  });
</script>

<div class="labels-container overflow-hidden" style="font-family: {$font}">
  <div
    class="text-resize-block absolute top-1/2 left-2 sm:left-4 text-gray-600"
    id="text-resize"
  >
    <div class="playlist-block text-gray-600 py-4" id="p-block">
      <button
        on:click|preventDefault={() => {
          handleClick('playlist');
        }}
      >
        <img
          class:activeicon={$activeTab === 'playlist'}
          class="icon h-6"
          src={Playlist}
          alt=""
        />
      </button>
    </div>
    <!--   <img class="h-6" src={Text} alt="" /> -->
    <div class="zoom-block flex flex-col">
      <button on:click|preventDefault={() => fontSize('minus')}>
        <img tabindex="0" class="font-tab h-6 tab my-4" src={Zoomout} alt="" />
      </button>
      <button on:click|preventDefault={() => fontSize('plus')}>
        <img tabindex="0" src={Zoomin} alt="" class="font-tab h-6 tab my-4" />
      </button>
    </div>
  </div>
  <div
    class="tabs-block absolute bottom-0 left-0 w-full flex justify-between"
    id="tabs-id"
  >
    {#if data}
      {#await data}
        <p>...</p>
      {:then data}
        {#each data as label (label.id)}
          <button
            tabindex="0"
            class="tab text-left py-4 p-2 sm:px-4 uppercase text-lg sm:text-xl"
            class:active={$activeTab === `${label.title}`}
            style="text-decoration-color: {$globalColour};"
            on:click|self={() => {
              handleClick(`${label.title}`);
            }}
          >
            {label.title}
          </button>
        {/each}
      {/await}
    {/if}
  </div>
</div>

<style>
  #tabs-id {
    /* opacity: 0; */
  }
  .tab {
    text-decoration-thickness: 2px;
    /* transition: all 0.3s ease-in-out; */
    width: auto;
  }
  .active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  .icon {
    transition: all 0.3s ease-in-out;
  }
  .activeicon {
    background-color: #f7e0869a;
  }
  #text-resize {
    /* opacity: 0; */
    transform: translate(0, -50%);
  }
  .tab:hover {
    cursor: crosshair;
    text-shadow: 2px 3px 6px rgb(194, 194, 194);
  }
  /*   #p-block {
    opacity: 0;
  } */
  .font-tab {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  /*   .playlist-tab {
    writing-mode: vertical-lr;
    text-orientation: upright;
  } */

  img:focus {
    outline: 0;
  }
  img:focus-visible {
    border: 4px dotted #ec7435;
  }

  button:focus {
    outline: 0;
  }
  button:focus-visible {
    border-top: 4px solid #ec7435;
  }
  img:focus {
    outline: 0;
  }
  img:focus-visible {
    border-bottom: 4px solid black;
  }

  @media screen and (min-width: 761px) {
    .tab {
      transition: all 0.3s ease-in-out;
    }
  }
</style>
