<script>
  import { onMount } from 'svelte';
  import { each } from 'svelte/internal';

  import { getData } from '../store/stores';
  /*   import Images from './Images.svelte'; 
  import Text from './Text.svelte';*/
  let data;
  onMount(() => {
    data = getData('https://api.ificouldgettoyou.com/video');
  });
</script>

{#if $data}
  {#await $data}
    <p>...</p>
  {:then data}
    <div class="main-block h-screen w-screen overflow-hidden">
      <div class="video-container h-screen w-screen overflow-hidden">
        <video
          class="opacity-50 h-full w-full object-cover overflow-hidden"
          autoplay
          loop
          muted
          playsinline
        >
          {#each data.video as video (video.id)}
            <source
              src={`https://api.ificouldgettoyou.com${video.url}`}
              type={video.mime}
            />
            <track default kind="captions" srclang="en" src="" />
            Sorry, your browser doesn't support embedded videos.
          {/each}
        </video>
      </div>
      <!--   <Images /> -->
      <!-- <Text /> -->
    </div>
  {/await}
{/if}
