<script>
  import {
    getData,
    size,
    halfsize,
    font3,
    globalColour,
    playerKind,
  } from '../store/stores';
  import { onMount } from 'svelte';
  import Play from '../assets/icons/play.svg';
  import Pause from '../assets/icons/pause.svg';
  import Back from '../assets/icons/back.svg';
  import Forward from '../assets/icons/forward.svg';
  import Disk from '../assets/icons/disk.svg';
  import { fade } from 'svelte/transition';

  let playlist;
  let playingAudio;
  let currentSong = 1;
  let playerHeight;
  const error = { state: false, message: '' };

  /*   const colours = ['#f7e086', ''];

  const randomColour = () => {}; */

  const handlePlay = async (id) => {
    error.state = false;
    error.message = '';
    const audio = document.getElementById(`song${id}`);
    if (audio.attributes.src.value === 'null') {
      error.state = true;
      error.message = 'Song not available!';
      return;
    }
    if (playingAudio) {
      audio.pause();
      playingAudio = false;
    } else if (!playingAudio) {
      audio.play();
      playingAudio = true;
      currentSong = id;
    }
  };

  const trackSize = (e) => {
    playerHeight = e.clientHeight - 10;
    console.log(e);
  };

  onMount(async () => {
    playlist = getData('https://api.ificouldgettoyou.com/musics');
  });
</script>

{#if $playlist}
  {#await $playlist}
    <p>loading playlist...</p>
  {:then playlist}
    <div class="playlist-block sm:p-0 sm:w-3/4 md:text-base h-full mx-auto">
      {#if $playerKind === 'iframe'}
        <div
          class="iframe-container w-full flex justify-center items-center h-full"
        >
          <iframe
            title="Spotify-iframe"
            src="https://open.spotify.com/embed/playlist/35UHkZYaSjR9dKvqqrdU1T"
            class="w-3/4"
            height="380"
            frameBorder="0"
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          />
        </div>
      {:else if $playerKind === 'player'}
        <div
          class="playlist-container py-6 flex flex-col justify-center items-center h-full w-full"
        >
          <div
            class="disk w-36 h-36 sm:h-52 sm:w-52 flex justify-center align-middle"
            class:inserted={playingAudio}
            on:click={() => {
              handlePlay(currentSong);
            }}
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width={playerHeight}
              height={playerHeight}
              viewBox="0 0 1152 648"
            >
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_3" data-name="Layer 3">
                  <rect width="1152" height="648" rx="19.3668" />
                  <polyline
                    points="1084.236 486 67.765 486 1084.236 486 1084.236 144 1016.471 72 135.53 72 67.765 144 67.765 486"
                    style="fill:#fff"
                  />
                  <rect
                    x="67.7647"
                    y="324"
                    width="1016.4706"
                    height="162"
                    style="fill:#f7e086"
                  />
                  <line
                    x1="135.5294"
                    y1="225"
                    x2="1016.4706"
                    y2="225"
                    style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                  <line
                    x1="135.5294"
                    y1="171"
                    x2="1016.4706"
                    y2="171"
                    style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                  <line
                    x1="135.5294"
                    y1="117"
                    x2="1016.4706"
                    y2="117"
                    style="fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                  <rect
                    x="338.8235"
                    y="252"
                    width="474.3529"
                    height="144"
                    rx="71.9999"
                    style="fill:#0c0c0c;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                  <ellipse
                    cx="406.5882"
                    cy="324"
                    rx="50.8235"
                    ry="54"
                    style="fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                  <ellipse
                    cx="745.4118"
                    cy="324"
                    rx="50.8235"
                    ry="54"
                    style="fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                  <polygon
                    points="669.176 324 482.824 324 482.824 270 499.765 270 669.176 270 669.176 324"
                    style="fill:#fff;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                </g>
                <g id="Layer_4" data-name="Layer 4">
                  <path
                    d="M480.8077,270v54H507.41s4.6474-27-9.2949-54Z"
                    style="fill:#383838;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                  <path
                    d="M671.1923,324V270H593.3077s-8.6539,18-8.6539,54"
                    style="fill:#383838;stroke:#000;stroke-miterlimit:10;stroke-width:2px"
                  />
                  <polygon
                    points="126 648 195.231 522 956.769 522 1026 648 126 648"
                    style="fill:#2b2b2b"
                  />
                </g>
                <g id="Layer_5" data-name="Layer 5">
                  <polygon
                    points="162 648 211.68 549 940.32 549 990 648 162 648"
                    style="fill:#111"
                  />
                </g>
              </g>
            </svg>
          </div>
          <div
            use:trackSize
            class="mini-player-card p-2 m-2 sm:p-4 sm:m-4 rounded h-40 sm:h-56 w-40 sm:w-56 z-20 shadow-lg bg-white"
            style="border: 2px solid {$globalColour}"
          >
            <div
              class="mini-player-top flex justify-between h-2/3 overflow-scroll"
            >
              {#each playlist.song as song (song.id)}
                {#if song.id === currentSong}
                  <div class="mini-player-text w-full">
                    <p
                      class="font-bold overflow-scroll"
                      style="font-size: {$size +
                        2 +
                        'px'}; line-height: {$size +
                        $halfsize +
                        'px'}; font-family: {$font3}"
                    >
                      {song.title}
                    </p>
                    <p
                      class=" overflow-scroll"
                      style="font-size: {$size + 'px'}; line-height: {$size +
                        $halfsize +
                        'px'}; font-family: {$font3}"
                    >
                      {song.author}
                    </p>
                    {#if error.state === true}
                      <p class="text-red-400">{error.message}</p>
                    {/if}
                  </div>
                  <audio id={'song' + song.id} src={song.url}>
                    Your browser does not support the
                    <code>audio</code> element.
                  </audio>
                {/if}
              {/each}
            </div>
            <div class="mini-player-bottom h-1/3">
              <div
                class="button-container h-full w-full flex justify-between items-center"
              >
                <button
                  on:click={() => {
                    if (currentSong > 1) {
                      currentSong--;
                    } else if (currentSong <= 1) {
                      currentSong = playlist.song.length;
                    }
                    playingAudio = false;
                    error.state = false;
                  }}
                >
                  <img class="player-button" src={Back} alt="" />
                </button>
                <button
                  class="play-container"
                  on:click={() => {
                    handlePlay(currentSong);
                  }}
                >
                  {#if playingAudio}
                    <img class="player-button invert" src={Pause} alt="" />
                  {:else if !playingAudio}
                    <img class="player-button invert" src={Play} alt="" />
                  {/if}
                </button>
                <button
                  on:click={() => {
                    if (currentSong < playlist.song.length) {
                      currentSong++;
                    } else if (currentSong >= playlist.song.length) {
                      currentSong = 1;
                    }
                    playingAudio = false;
                    error.state = false;
                  }}
                >
                  <img class="player-button" src={Forward} alt="" />
                </button>
              </div>
            </div>
          </div>
          <!--         <img
          class:inserted={playingAudio}
          src={Disk}
          class="disk w-36 h-36 sm:h-52 sm:w-52 shadow-lg bg-blend-multiply"
          alt=""
        /> -->

          <!-- <div
          class="disk w-36 h-36 sm:h-52 sm:w-52 flex justify-center align-middle"
          class:inserted={playingAudio}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width={playerHeight}
            height={playerHeight}
            viewBox="0 0 576 576"
          >
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1">
                <circle cx="288" cy="288" r="288" />
                <circle
                  cx="288"
                  cy="288"
                  r="261"
                  style="stroke:#999;stroke-miterlimit:10"
                />
                <circle
                  cx="288"
                  cy="288"
                  r="225"
                  style="stroke:#6d6d6d;stroke-miterlimit:10"
                />
                <circle
                  cx="288"
                  cy="288"
                  r="180"
                  style="stroke:#5b5b5b;stroke-miterlimit:10"
                />
                <circle
                  cx="288"
                  cy="288"
                  r="135"
                  style="stroke:#8e8e8e;stroke-miterlimit:10"
                />
                <circle cx="288" cy="288" r="90" style="fill:#f7e086" />
                <circle cx="288" cy="288" r="9" style="fill:#fff" />
              </g>
            </g>
          </svg>
        </div> -->
        </div>
      {/if}
    </div>
  {/await}
{/if}

<style>
  button:focus {
    outline: 0;
  }
  button:focus-visible {
    border-top: 4px solid #ec7435;
  }
  .playlist-container {
    transform: translate(0, -12.5%);
  }
  .invert {
    filter: invert(1);
  }
  .player-button {
    width: 1.6rem;
    height: 1.6rem;
  }
  .disk {
    transform: translate(0, 25%);
    transition: all 0.5s ease-in-out;
  }

  .inserted {
    transform: translate(0, 90%);
  }
</style>
