<script>
  import {
    /*     imagesVisible, */
    textIsVisible,
    /*     toggleParticipants, */
    getData,
  } from '../store/stores';
  import Play from '../assets/icons/play.svg';
  import Pause from '../assets/icons/pause.svg';
  import { onMount } from 'svelte';
  import { fade } from 'svelte/transition';
  /*   import Image from '../assets/icons/image.svg'; */
  let data;
  let playingAudio = false;
  const handlePlay = () => {
    const demo = document.getElementById('audio');
    if (playingAudio) {
      demo.pause();
      playingAudio = false;
    } else if (!playingAudio) {
      demo.play();
      playingAudio = true;
    }
  };
  /*   const handleClick = () => {
    $imagesVisible = !$imagesVisible;
  }; */

  onMount(() => {
    data = getData('https://api.ificouldgettoyou.com/video');
  });
</script>

<div class="play-container absolute">
  {#if !playingAudio}
    <img class="h-10 z-50" src={Play} alt="" on:click={handlePlay} in:fade />
  {:else if playingAudio}
    <img class="h-10 z-50" src={Pause} alt="" on:click={handlePlay} in:fade />
  {/if}
</div>
<div
  class="title-main absolute bottom-0 left-0 overflow-hidden w-full"
  class:halfopacity={$textIsVisible}
>
  <div class="title-container overflow-hidden w-full">
    <div class="title-box p-4 flex justify-between items-baseline w-full">
      <div
        class="title text-lg md:text-2xl uppercase font-a-text-regular text-white"
      >
        if i could get to you
      </div>
      <div
        class="title text-sm md:text-xl capitalize font-a-text-regular text-gray-300"
      >
        Amaal Said
      </div>
      {#if $data}
        {#await $data}
          <p>...</p>
        {:then data}
          <audio
            id="audio"
            src={`https://api.ificouldgettoyou.com${data.audio[0].url}`}
          />
        {/await}
      {/if}
    </div>
  </div>
</div>

<style>
  .title {
    mix-blend-mode: hard-light;
    transition: all 0.3s ease-in-out;
  }
  .halfopacity {
    filter: opacity(0.3);
  }
  .play-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
