<script>
  import { getData, ready, globalColour, networkError } from './store/stores';
  import Main from './lib/Main.svelte';
  import Title from './lib/Title.svelte';
  import Description from './lib/Description.svelte';
  import { fade } from 'svelte/transition';
  import { onMount, onDestroy } from 'svelte';

  let title = 'if i could get to you...';
  let error = '';
  function errorCheck() {
    if ($networkError.status === true) {
      error = $networkError.message;
    }
  }
  onMount(() => {
    getData('https://api.ificouldgettoyou.com/tabs');
    $globalColour = '#f7e086';
    const checkpoint = window.innerHeight;
    let opacity;
    window.addEventListener('scroll', () => {
      const currentScroll = window.pageYOffset;
      if (currentScroll <= checkpoint) {
        opacity = 1 - currentScroll / checkpoint;
      } else {
        opacity = 0;
      }
      document.getElementById('m-container').style.opacity = `${opacity}`;
      document.getElementById(
        'm-container'
      ).style.filter = `saturate(${opacity})`;
    });
    window.addEventListener('scroll', () => {
      const currentScroll = window.pageYOffset;
      if (currentScroll <= checkpoint) {
        opacity = 0 + currentScroll / checkpoint;
      } else {
        opacity = 1;
      }
      document.getElementById('d-container').style.opacity = `${opacity}`;
    });
    setTimeout(errorCheck, 5000);
  });
</script>

<main class="main overflow-hidden">
  {#if $ready}
    <div class="main-block" in:fade={{ duration: 1000, delay: 500 }}>
      <div
        class="main-container overflow-hidden h-screen snap-me"
        id="m-container"
      >
        <Main />
      </div>
      <div
        class="description-container overflow-hidden h-screen flex items-center snap-me"
        id="d-container"
      >
        <Description />
      </div>
      <Title />
    </div>
  {:else}
    <div
      class="main-block h-screen flex flex-col items-center justify-center"
      out:fade={{ duration: 500 }}
    >
      <h1
        class="text-white overflow-hidden font-a-text-regular text-xl md:text-2xl uppercase"
      >
        {title}
      </h1>
      <p class="text-white font-a-text-regular">{error}</p>
    </div>
  {/if}
</main>

<style>
  .main {
    scroll-snap-type: y mandatory;
  }
  .main > div {
    scroll-snap-align: center;
  }
</style>
